p{
    color: #3c3c3c;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-align: left;
    text-transform:lowercase;
    letter-spacing: 2px;
    line-height: 35px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    font-family: 'Playwrite US Trad', cursive;
}

  